@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.container{
   display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "profile header"
  "informationOne informationOne"
  "footer footer";
  grid-gap: 15px

 }
 @media only screen and (max-width: 800px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
   "nav"
   "profile"
  "header"
  "informationOne"
  "footer"
    grid-gap: 15px;
  }
 }

nav {
  grid-area: nav;
  background-color:#023E8A;
  padding:  30px;
  color: black;

}

nav a {
  color: white;
  padding-right: 20px;
}

nav li{
  display: inline;
}
.profile {
  grid-area: profile;
   background-color:black; 
  text-align: center;
}
header {
  grid-area: header;
  background-color: #0096C7;
  padding:  100px;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  text-align: center;
}
.informationOne {
  grid-area: informationOne;
   background-color: #48CAE4;   
    padding:50px;
    font-family: 'Noto Sans JP', sans-serif;
}
footer {
  grid-area: footer;
   background-color:#CAF0F8;
   padding:  60px
}

img {
  width: 50%;
}