@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.container{
   display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
  "header header"
  "infomationOne pictureOne"
  "infomationTwo pictureTwo"
  "infomationThree pictureThree"
  "footer footer";
  grid-gap: 15px

 }

 @media only screen and (max-width: 600px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
   "nav"
  "header"
  "infomationOne" 
  "pictureOne"
  "infomationTwo"
  "pictureTwo"
  "infomationThree" 
  "pictureThree"
  "footer";
    grid-gap: 15px;
  }
 
}
nav {
  grid-area: nav;
  background-color: #023E8A;
  padding:  30px;
  color: black;

}

nav a {
  color: white;
  padding-right: 20px;
}

nav li{
  display: inline;
}
header {
  grid-area: header;
  background-color:#0096C7;
  padding:  40px;
    font-family: 'Bangers', cursive;
      font-size: 30px;
  text-align: center;
}
.informationOne {
grid-area: infomationOne;
background-color: #48CAE4;
padding: 30px;
font-family: 'Noto Sans JP', sans-serif;
}
.pictureOne {
  grid-area: pictureOne;
  background-color: black;
  padding: 20px 
}
.informationTwo {
grid-area: infomationTwo;
background-color: #0096C7;
padding: 30px;
font-family: 'Noto Sans JP', sans-serif;
}
.pictureTwo {
  grid-area: pictureTwo;
  background-color: black;
  padding:30px 
}
 .informationThree {
grid-area: infomationThree;
background-color:#48CAE4 ;
padding: 30px;
font-family: 'Noto Sans JP', sans-serif;
}
.pictureThree {
  grid-area: pictureThree;
  background-color: black;
  padding:40px 
}
footer {
  grid-area: footer;
   background-color: #CAF0F8;
   padding:  60px
}
